<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FreeeDrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEEA6F821E30C633000AC25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEA6F9B1E30C633000AC25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEA6FA61E30C633000AC25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
